<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!--    <a class="navbar-brand" href="#">Navbar</a>-->
    <!--    <h1 class="h1"><%#= link_to "Hostelers",root_path, class: "navbar-brand h1 " %></h1>-->

    <%= link_to root_path, class: "navbar-brand" do %>
      <h1 class="h1">Hostelers</h1>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <% if logged_in? %>
        <%= link_to "Logout",logout_path,data:{turbo_method: :delete,turbo_confirm:"Are you sure ?"}, class: "btn btn-danger mx-2" %>
      <% else %>
        <%= link_to "Signup", signup_path, class: "btn btn-success mx-2" %>
        <%= link_to "Login", login_path, class: "btn btn-primary mx-2" %>
      <% end %>

    </div>
  </div>
</nav>